{{ vars.config|imports }}

{{ vars.service_config.class|imports }}
{{ vars.service.class|imports }}
{{ vars.resource_config.class|imports }}
{{ vars.resource.class|imports }}
{{ vars.record.class|imports }}


{% if not vars.resource_config.skip %}
{{ vars.resource_config.config_key }} = {{ vars.resource_config.class|base_name }}
{% endif  %}

{% if not vars.resource.skip %}
{{ vars.resource.config_key }} = {{ vars.resource.class|base_name }}
{% endif  %}

{% if not vars.service_config.skip %}
{{ vars.service_config.config_key }} = {{ vars.service_config.class|base_name }}
{% endif  %}
{% if not vars.service.skip %}
{{ vars.service.config_key }} = {{ vars.service.class|base_name }}
{% endif  %}

OAREPO_PRIMARY_RECORD_SERVICE = {
    {{ vars.record.class|base_name }}: "{{ vars.service_config.service_id }}"
}

{{ vars.config|extra_code }}