from invenio_records.systemfields import ConstantField, RelationsField
from invenio_records_resources.records.systemfields import IndexField,

from invenio_records_resources.records.systemfields.pid import PIDField, PIDFieldContext
from invenio_pidstore.providers.recordid_v2 import RecordIdProviderV2

{% for b in model.record_bases %}
from {{ b|package_name }} import {{ b|base_name }}
{% endfor %}
from {{ model.record_metadata_class|package_name }} import {{ model.record_metadata_class|base_name }}
from {{ model.record_dumper_class|package_name }} import {{ model.record_dumper_class|base_name }}

{% for rel in invenio_relations %}
{% for imp in rel.imports or [] %}
import {{ imp }}
{% endfor %}
{% endfor %}
{% if invenio_relations %}
from invenio_records.dumpers.relations import RelationDumperExt
{% endif %}

class {{ model.record_class|base_name }}({% for b in model.record_bases %}{{ b|base_name }}{{ ", " if not loop.last else "" }} {% endfor %}):
    model_cls = {{ model.record_metadata_class|base_name }}
    schema = ConstantField("$schema", "{{ model.schema_server }}{{ model.schema_name }}")
    index = IndexField("{{ model.index_name }}")
{% if model.generate_record_pid_field %}
    pid = PIDField(
        create=True,
        provider=RecordIdProviderV2,
        context_cls = PIDFieldContext
    )
{% endif %}
    dumper_extensions = [
        {%- for ext in model.record_dumper_extensions %}{{ ext }}{% if not loop.last %}, {% endif %}{% endfor -%}
        {% if invenio_relations %}
            RelationDumperExt("relations"),
        {% endif %}
    ]
    dumper = {{ model.record_dumper_class|base_name }}(extensions=dumper_extensions)

    {% if invenio_relations %}
    relations = RelationsField(
        {% for rel in invenio_relations %}
        {{ rel.name }}={{ rel.type }}(
            {% for param in rel.params %}{{ param }},
            {% endfor %}
        ),
        {% endfor %}
    )
    {% endif %}

{{ model.invenio_record_extra_code }}