{{ vars.service_config|generate_import }}
{{ vars.service|generate_import }}
{{ vars.resource_config|generate_import }}
{{ vars.resource|generate_import }}

{{ vars.resource_config.config_key }} = {{ vars.resource_config.class|base_name }}
{{ vars.resource.config_key }} = {{ vars.resource.class|base_name }}

{{ vars.service_config.config_key }} = {{ vars.service_config.class|base_name }}
{{ vars.service.config_key }} = {{ vars.service.class|base_name }}

{{ vars.config.extra_code }}