{% for b in vars.record_pid_provider_bases %}
from {{ b|package_name }} import {{ b|base_name }}
{% endfor %}

class {{ vars.record_pid_provider_class|base_name }}({% for b in vars.record_pid_provider_bases %}{{ b|base_name }}{{ ", " if not loop.last else "" }} {% endfor %}):
    pid_type = "{{ vars.pid_type }}"