{{ record_metadata.imports|generate_import }}

class {{ record_metadata|class_header }}:
    """Model for {{ record.class|base_name }} metadata."""

    __tablename__ = "{{ record_metadata.table }}"

    # Enables SQLAlchemy-Continuum versioning
    __versioned__ = {}

{{ record_metadata.extra_code }}