name: Build, test and publish

on: push

permissions:
  id-token: write
  contents: read

jobs:
  build11:
    uses: ./.github/workflows/build.yaml
    with:
      oarepo: 11

  build12:
    uses: ./.github/workflows/build.yaml
    with:
      oarepo: 12

  publish:
    runs-on: ubuntu-latest
    needs: build11
    steps:
      - name: Use built artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist

      - name: List files
        run: |
          ls -la
          ls -la dist

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip_existing: true
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
